<%= form_with(model: member, local: true) do |form| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :member_name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :member_age %>
  </div>

  <div class="field">
    <%= form.label :group_id %>
    <%# <%= form.select :group_id, options_from_collection_for_select(@groups, :id, :name) %>
    <%# <%= form.select :group_id, options_for_select(@groups) %>
    <%= form.collection_select :group_id, @groups, :id, :name%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
